* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  background: rgb(255, 251, 251);
}


.box{
  border: 1px solid red;

  display: flex !important;
  justify-content: center;
  align-items: center;
  
  height: 100px;
  width: 290px !important;
}

.container {
  width: 90vw;
}