* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
}

body {
  font: sans-serif;
  background: rgb(41, 41, 41);
  color: #cecece;

  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
