* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  background: rgb(109, 108, 108);
  color: #cecece;

  display: flex;
  justify-content: center;
  align-items: center;
}